public/sdk2/lib/nodos/fepanama/xsd/ContenedorFE_v1.00.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified" >  

   
   
    <xs:include schemaLocation="ContenedorEvento_v1.00.xsd" />
   
    
   
    <xs:element name="rContFe">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dVerForm" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                    <xs:documentation>
                      Versión del formato
                    </xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                      <xs:totalDigits value="4" />
                      <xs:fractionDigits value="2" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                
                
                <xs:element name="xFe"  minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                    <xs:documentation>
                      Archivo XML de la FE
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                        <xs:any  namespace="##any" processContents="skip"/> 
                    </xs:sequence>
                </xs:complexType>
                </xs:element>
                
                
                
                
                <xs:element name="xProtFe"  minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                    <xs:documentation>
                      Protocolo de Procesamiento de la FE
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                        <xs:any  namespace="##any" processContents="skip"/> 
                    </xs:sequence>
                </xs:complexType>
                </xs:element>
                
                
                
                <xs:element name="xContEv"  minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                    <xs:documentation>
                      Contenedor de Evento
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="rContEv" minOccurs="1" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
                </xs:element>
                
                
            </xs:sequence>
        </xs:complexType>
    </xs:element>    
</xs:schema>