public/sdk2/lib/nodos/fepanama/xsd/evManifRecep_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- editado con XMLSpy v2018 sp1 (x64) (http://www.altova.com) por Jose (Estudiante) -->
<xs:schema xmlns="http://dgi-fep.mef.gob.pa" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://dgi-fep.mef.gob.pa" elementFormDefault="qualified" id="EventoManifiesto">
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
    <xs:element name="dVerForm">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:pattern value="[0-9]{1,2}[.][0-9]{2}"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="dRucRec">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="20"/>
                <xs:pattern value="(([P][E][-](([-]|[0-9]){1,17})|[N][-](([-]|[0-9]){1,18})|[E][-](([-]|[0-9]){1,18})|(([-]|[0-9]){5,20}))|(((([0-9]{1})[-][A][V][-](([-]|[0-9]){1,15}))|(([0-9]{2})[-][A][V][-](([-]|[0-9]){1,14})))|((([0-9]{1,2})[-][N][T][-](([-]|[0-9]){1,15}))|(([0-9]{1,2})[-][N][T][-](([-]|[0-9]){1,14}))|([N][T][-](([-]|[0-9]){1,14}))|(([0-9]{1,2})[-][P][I][-](([-]|[0-9]){1,14}))|([P][I][-](([-]|[0-9]){1,14}))|(([0-9]){1,2}[P][I][-](([-]|[0-9]){1,14})))))?"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="dManifRecep">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:enumeration value="1001"/>
                <xs:enumeration value="1002"/>
                <xs:enumeration value="1003"/>
                <xs:enumeration value="1004"/>
                <xs:enumeration value="1005"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="dIdFirma">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:length value="22"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="dProtAut">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:totalDigits value="20"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="iAmb">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:enumeration value="1"/>
                <xs:enumeration value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="dMotManif">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="15"/>
                <xs:maxLength value="500"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="gInfProt">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dIdFirma" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>EB04: Identificador para firma electrónica</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="iAmb">
                    <xs:annotation>
                        <xs:documentation>EB05: Ambiente de destino</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="dProtAut">
                    <xs:annotation>
                        <xs:documentation>EB06: Número del protocolo de autorización de la FE objeto de la manifestación</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="dRucRec">
                    <xs:annotation>
                        <xs:documentation>EB07: RUC del Contribuyente receptor</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="dManifRecep">
                    <xs:annotation>
                        <xs:documentation>EB08: Código del evento de manifestación siendo registrado</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="dMotManif" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>EB10: Motivo de manifestación</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="rEvManifRecep">
        <xs:annotation>
            <xs:documentation>EB01: Evento Manifestación (Raíz)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dVerForm">
                    <xs:annotation>
                        <xs:documentation>EB02: Versión del formato</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="gInfProt">
                    <xs:annotation>
                        <xs:documentation>EB03: Grupo de información para registro del evento</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="ds:Signature">
                    <xs:annotation>
                        <xs:documentation>EB09: Firma Digital del grupo identificado por el atributo dId</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
