public/sdk2/lib/nodos/fepanama/xsd/feConsRucDV_v1.00.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dgi-fep.mef.gob.pa/wsdl/FeRecepFE" elementFormDefault="qualified" targetNamespace="http://dgi-fep.mef.gob.pa/wsdl/FeRecepFE">
    <xs:element name="feDatosMsg">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="rEnviConsRucDV" type="tns:rEnviConsRucDV"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="dVerForm">
    <xs:simpleType>
        <xs:restriction base="xs:decimal">
            <xs:pattern value="[0-9]{1,2}[.][0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="dId">
    <xs:simpleType>
        <xs:restriction base="xs:integer">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
  </xs:element>
     
  <xs:element name="iAmb">
    <xs:simpleType>
      <xs:restriction base="xs:integer">       
        <xs:enumeration value="1"/>
        <xs:enumeration value="2"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>  
  
      <xs:element name="dRuc">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="5"/>
            <xs:maxLength value="20" />
            <xs:pattern value="(([P][E][-](([-]|[0-9]){1,17})|[N][-](([-]|[0-9]){1,18})|[E][-](([-]|[0-9]){1,18})|(([-]|[0-9]){5,20}))|(((([0-9]{1})[-][A][V][-](([-]|[0-9]){1,15}))|(([0-9]{2})[-][A][V][-](([-]|[0-9]){1,14})))|((([0-9]{1,2})[-][N][T][-](([-]|[0-9]){1,15}))|(([0-9]{1,2})[-][N][T][-](([-]|[0-9]){1,14}))|([N][T][-](([-]|[0-9]){1,14}))|(([0-9]{1,2})[-][P][I][-](([-]|[0-9]){1,14}))|([P][I][-](([-]|[0-9]){1,14}))|(([0-9]){1,2}[P][I][-](([-]|[0-9]){1,14})))))?" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>  
      
      <xs:element name="dTipoRuc">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>Natural</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation>Jurídico</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    
    <xs:complexType name="rEnviConsRucDV">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" ref="tns:dVerForm"/>
            <xs:element minOccurs="1" maxOccurs="1" ref="tns:dId"/>
            <xs:element minOccurs="1" maxOccurs="1" ref="tns:iAmb"/>
            <xs:element minOccurs="1" maxOccurs="1" ref="tns:dRuc"/>
            <xs:element minOccurs="1" maxOccurs="1" ref="tns:dTipoRuc"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>